<div class="mouse-icon hidden-xs">
  <div class="scroll"></div>
</div>
{# {{ dump(dataInv) }} #}
<section id="be-the-first" class="pad-xl">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 margin-30 wow fadeIn" data-wow-delay="0.6s">
        <div class="text-center">
          <h2>Be the first</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipis.</p>
          <div class="text-center wow fadeInUp" data-wow-delay="1s">
            <a id="record" class="btn btn-secondary btn-lg" data-status="1">Record</a>
          </div>
        </div>

        <div id="signupbox" style="margin-top:50px" class="mainbox col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-title">Sign Up</div>
            </div>
            <div class="panel-body">
              <form method="post" action=".">
                <div class="control-group">
                  <div class="col-sm-5">
                    <label class="control-label">What kind of disability u have?</label>
                  </div>
                  <div class="col-sm-7">
                    <div class="controls">
                      <select id="disabilities" name="disabilities" type="text" placeholder="address line 2" class="form-control">
                        <option value="0">
                          Select
                        </option>
                        <option value="1">
                          I'm blind
                        </option>
                        <option value="2">
                          I'm mute
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="control-group">
                  <div class="col-sm-5">
                    <label>Would you like to order an assist on airport?</label>
                  </div>
                  <div class="col-sm-7">
                    <div class="radio">
                      <input id="radio-1" name="radio" type="radio" checked>
                      <label for="radio-1" class="radio-label">Yes</label>
                    </div>

                    <div class="radio">
                      <input id="radio-2" name="radio" type="radio">
                      <label for="radio-2" class="radio-label">No</label>
                    </div>
                  </div>
                </div>
                <div class="control-group">
                  <div class="col-sm-5">
                    <label>Would you like to order the transport?</label>
                  </div>
                  <div class="col-sm-7">
                    <div class="radio">
                      <input id="radio-3" name="transport" type="radio" checked>
                      <label for="radio-3" class="radio-label">Yes</label>
                    </div>
                    <div class="radio">
                      <input id="radio-4" name="transport" type="radio">
                      <label for="radio-4" class="radio-label">No</label>
                    </div>
                  </div>
                </div>
                <div class="control-group">
                  <div class="col-sm-5">
                    <label>How much earlier you want to be there?</label>
                  </div>
                  <div class="col-sm-7">
                    <input type="text" class="form-control" id="nottime"/>
                  </div>
                </div>
                <div class="control-group">
                  <div class="col-sm-5">
                    <label>Where would you like to order the transport?</label>
                  </div>
                  <div class="col-sm-7">
                    <input type="text" class="form-control" id="transport-address"/>
                  </div>
                </div>

                <div class="control-group">
                  <div class="col-sm-5">
                    <label>Would you need help with get into vehicle or with your luggage?</label>
                  </div>
                  <div class="col-sm-7">
                    <div class="radio">
                      <input id="radio-5" name="luggage" type="radio" checked>
                      <label for="radio-5" class="radio-label">Yes</label>
                    </div>

                    <div class="radio">
                      <input id="radio-6" name="luggage" type="radio">
                      <label for="radio-6" class="radio-label">No</label>
                    </div>
                  </div>
                </div>
                <div class="control-group">
                  <div class="col-sm-12">
                    <button class="btn btn-primary">Confirm order!</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="iphone wow fadeInUp" data-wow-delay="1s"></div>
  </div>
</section>
