<!DOCTYPE HTML>
<html>
   {% include 'AppBundle:Main:partials/head.html.twig' %}
  <body>

		{% include 'AppBundle:Main:partials/buildings.html.twig' %}

		{% include 'AppBundle:Main:partials/footer.html.twig' %}
		{% include 'AppBundle:Main:partials/foot.html.twig' %}

		<audio controls id="gensound">
			<source src="" type="audio/ogg">
			<source src="" type="audio/mpeg">
			Your browser does not support the audio element.
		</audio>


		<audio controls id="pingsound">
			<source src="{{asset('assets/sounds/ping.mp3')}}" type="audio/ogg">
			<source src="{{asset('assets/sounds/ping.mp3')}}" type="audio/mpeg">
			Your browser does not support the audio element.
		</audio>


		<script>

      //
			// var gcall = function(){};
			// var answers = [];
			// var gtime = 0;
			// function startRecTime(time,_answers,callback){
			// 	$('#pingsound')[0].pause();
			// 	$('#pingsound')[0].play();
			// 	answers = _answers;
			// 	gtime = time;
			// 	gcall = callback;
			// 	jQuery('#record').click();
			// 	setTimeout(
			// 		function(){
			// 			jQuery('#record').click();
			// 	}
			// 	,time);
      //
			// }





		</script>

  </body>
</html>
