<!DOCTYPE HTML>
<html>
   {% include 'AppBundle:Main:partials/head.html.twig' %}
  <body>

		{% include 'AppBundle:Main:partials/header.html.twig' %}
		{% include 'AppBundle:Main:partials/forms.html.twig' %}

		{% include 'AppBundle:Main:partials/footer.html.twig' %}
		{% include 'AppBundle:Main:partials/foot.html.twig' %}
  </body>
</html>
